
.buttons {
    display: flex;
    justify-content: center; /* Align child elements horizontally center */
}

.card-image {
 
    width: 20rem;
}

.cardsList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around; /* Align child elements horizontally center */
}

